html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a::selection {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#AFD0D6, #C49799);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #fff;
}

nav {
    font-family: "Dosis", sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    padding-top: 25px;
}

#links {
    margin: -20px 5% 0 0;
    display: flex;
    justify-content: flex-end;
}

#links a,
#logoname a {
    padding: 0 7.5px;
    text-decoration: none;
    color: #80989C;
    transition: 0.2s;
}

#links a:hover,
#logoname a:hover {
    filter: brightness(70%);
    transition: 0.2s;
}

#logoname {
    font-size: 18px;
    display: flex;
    justify-content: flex;
    margin: 0 0 0 5%;
}

button#reload {
    width: 95px;
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    text-align: center;
}

button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    font-weight: bold;
    width: 80px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "Dosis";
    color: #fff;
    border-radius: 2px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: -70px;
    box-sizing: border-box;
    width: 80px;
    border: #fff solid 2px;
    transition: 0.3s;
}

button:focus {
    outline: none;
}

.theme {
    height: 570px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 106px;
    font-family: "Dosis";
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.0188679em;
}

#swipedown {
    font-size: 50px;
    margin: 0 auto 0 auto;
    text-align: center;
}

#a.set {
    background-color: #fff;
    color: #000;
}

#sidenav {
    height: 100%;
    width: 200px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    white-space: nowrap;
    padding: 30px 0;
    flex-wrap: wrap;
}

#sidelinks {
    margin-top: 20px;
}

#sidelinks a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    padding: 0 180px 0 20px;
}

#sidelinks a.set {
    background-color: rgba(136, 136, 136, 0.21);
}

#hamburger {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
}

#cancel {
    position: absolute;
    display: block;
    top: 0;
    right: 165px;
    margin: 10px;
    cursor: pointer;
}

.fa-times {
    color: #595d63;
    font-size: 18px;
}

#container {
    display: flex;
    justify-content: center;
}

#board {
    display: flex;
    justify-content: center;
    border: none;
    width: 80%;
    margin-top: 200px;
}

.undercard {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    padding: 20px;
    border: #fff 2px solid;
    
}

.card::before {
    content: "jbh";
    position: absolute;
    background: #fff;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    top: -105px;
    left: calc(50% - 140px);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: "Dosis";
    font-style: normal;
    letter-spacing: 0.0188679em;    
}

.card#translation::before {
    content: "translations";
}

.card {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card img {
    margin: 15px;
    max-height: 200px ;
    max-width: 200px;
}



@media only screen and (max-width: 800px) {
    body {
        background-color: var(--grayish);
    }

    #links {
        margin: -20px 5% 0 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        display: none;
    }

    #hamburger {
        display: block;
    }

    .theme {
        font-size: 70px;
    }

    .theme button {
        font-size: 12px;
        padding: 7px 2px;
        text-align: center;
    }

}

:root {
    --grayish: rgb(107, 130, 126);
}